In [1]:
import pandas as pd
from IPython.display import display
df = pd.read_csv("../Database/Dataset.csv")

In [15]:
print(df.columns.tolist())

['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date', 'revenue', 'runtime', 'adult', 'budget', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'genres', 'production_countries', 'spoken_languages']

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266348 entries, 0 to 1266347
Data columns (total 19 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1266348 non-null  int64
 1   title                 1266335 non-null  object
 2   vote_average          1266348 non-null  float64
 3   vote_count            1266348 non-null  int64
 4   status                1266348 non-null  object
 5   release_date          1022224 non-null  object
 6   revenue               1266348 non-null  int64
 7   runtime               1266348 non-null  int64
 8   adult                 1266348 non-null  bool
 9   budget                1266348 non-null  int64
 10  imdb_id               633421 non-null   object
 11  original_language     1266348 non-null  object
 12  original_title        1266335 non-null  object
 13  overview              991104 non-null   object
 14  popularity            1266348 non-null  float64
 15  poster_path           842178 non-null   object
 16  genres                733267 non-null   object
 17  production_countries  678071 non-null   object
 18  spoken_languages      701191 non-null   object
dtypes: bool(1), float64(2), int64(5), object(11)
memory usage: 175.1+ MB

In [13]:
display(df)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,imdb_id,original_language,original_title,overview,popularity,poster_path,genres,production_countries,spoken_languages
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,160000000,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.9520,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"Action, Science Fiction, Adventure","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,165000000,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.2410,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,"Adventure, Drama, Science Fiction","United Kingdom, United States of America",English
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,185000000,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.6430,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,"Drama, Action, Crime, Thriller","United Kingdom, United States of America","English, Mandarin"
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,237000000,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.9320,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,"Action, Adventure, Fantasy, Science Fiction","United States of America, United Kingdom","English, Spanish"
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,220000000,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.0820,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"Science Fiction, Action, Adventure",United States of America,"English, Hindi, Russian"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1266343,796436,Jimmy Eat World: Phoenix Sessions - Chapter II...,0.000,0,Released,2021-02-12,0,0,False,0,NaN,en,Jimmy Eat World: Phoenix Sessions - Chapter II...,Live performance of the album Clarity,0.6000,/pnwtu6WFic4aSHJyysesqrhUghV.jpg,NaN,NaN,NaN
1266344,796439,Charles Ives: A Good Dissonance Like a Man,0.000,0,Released,1977-04-21,0,60,False,0,tt0193198,en,Charles Ives: A Good Dissonance Like a Man,A thoroughly researched biopic of Charles Ives...,0.6310,/1kOVDfU1wOBGviMD2w7hWluXS8R.jpg,"History, Music, TV Movie",NaN,English
1266345,796440,Midnight Oil,0.000,0,Released,NaN,0,81,False,6000,tt6133818,en,Midnight Oil,Two young men try to find their way home one e...,0.6000,/zR7u2G8QhQSS9uj9wqDcV8sWMbO.jpg,NaN,NaN,NaN
1266346,796441,Underground Again,0.000,0,Released,1971-07-01,0,11,False,0,NaN,en,Underground Again,"One evening, in the metro, the eyes of a woman...",0.6000,NaN,NaN,France,NaN
1266347,1524241,N2CROMANCY,0.000,0,Released,2025-05-12,0,7,False,0,NaN,fr,N2CROMANCIE,Necromancy: The summoning of the dead through ...,0.0214,/odITf219BrY4ObQfFQWN4xXiDCY.jpg,"Documentary, Drama",France,French

In [3]:
df.shape

(1266348, 24)

In [6]:
# 1. Schwellenwert (hier 50 %)
# Falls eine Spalte mehr als 50 % Null-Werte hat, wird sie gelöscht.
# Es bleiben nur Spalten übrig, die weniger als 50 % Null-Werte haben.
threshold = len(df) * 0.5

# Zähle die Null-Werte pro Spalte
null_counts = df.isnull().sum()


# 2. Spalten ermitteln, bei denen null_counts > threshold
cols_to_drop = null_counts[null_counts > threshold].index.tolist()

# 3. Spalten löschen
df = df.drop(columns=cols_to_drop)

# Kontrolle
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266348 entries, 0 to 1266347
Data columns (total 19 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1266348 non-null  int64
 1   title                 1266335 non-null  object
 2   vote_average          1266348 non-null  float64
 3   vote_count            1266348 non-null  int64
 4   status                1266348 non-null  object
 5   release_date          1022224 non-null  object
 6   revenue               1266348 non-null  int64
 7   runtime               1266348 non-null  int64
 8   adult                 1266348 non-null  bool
 9   budget                1266348 non-null  int64
 10  imdb_id               633421 non-null   object
 11  original_language     1266348 non-null  object
 12  original_title        1266335 non-null  object
 13  overview              991104 non-null   object
 14  popularity            1266348 non-null  float64
 15  poster_path           842178 non-null   object
 16  genres                733267 non-null   object
 17  production_countries  678071 non-null   object
 18  spoken_languages      701191 non-null   object
dtypes: bool(1), float64(2), int64(5), object(11)
memory usage: 175.1+ MB

In [6]:
# Oder wir nehmen nur die Zelle die auch gebraucht werden, anstatt das wir den
# Schwellenwert überprüfen

keep = [
    'popularity',    # wie oft der Film aufgerufen wurde
    'vote_count',    # wie oft der Film bewertet wurde
    'budget',        # oder besser: budget_log = np.log1p(budget)
    'revenue',       # bzw. revenue_log
    'runtime',
    'release_date',  # besser: release_year & release_month
    'status',
    'original_language',
    'adult',
    'vote_average'
]

# Filtere df auf genau diese Spalten:
df = df[keep].copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1261153 entries, 0 to 1261152
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   popularity         1261153 non-null  float64
 1   vote_count         1261153 non-null  int64
 2   budget             1261153 non-null  int64
 3   revenue            1261153 non-null  int64
 4   runtime            1261153 non-null  int64
 5   release_date       1019142 non-null  object
 6   status             1261153 non-null  object
 7   original_language  1261153 non-null  object
 8   adult              1261153 non-null  bool
 9   vote_average       1261153 non-null  float64
dtypes: bool(1), float64(2), int64(4), object(3)
memory usage: 87.8+ MB